<h1 style="padding: 20px 0">Създаване на артикул</h1>
<section class="edit-product">
    <section class="images">
        <div id="image-0">
            <input class="in-file" type="file">
            <div class="image-action opacity-100">
                <i class="fas fa-images"></i>
                <span>Добави снимка</span>
            </div>
        </div>
        <section id="secondary-images">
            <div id="image-1" class="secondary-image">
                <input class="in-file" type="file">
                <div class="image-action opacity-100">
                    <i class="fas fa-images"></i>
                    <span>Добави снимка</span>
                </div>
            </div>
        </section>
    </section>
    <section class="details">
        <section class="input-field">
            <label for="in-title">Заглавие:</label>
            <input type="text" id="in-title" placeholder="Въведи заглавие">
        </section>
        <section class="shared-input-field">
            <article class="price-field">
                <label for="in-price">Цена:</label>
                <input id="in-price" type="number" step="50" min="0" placeholder="Въведи цена">
            </article>
            <article class="price-field">
                <label for="in-cmp-price">Цена за сравнение:</label>
                <input id="in-cmp-price" type="number" step="50" min="0" placeholder="Цена за сравнение">
            </article>
        </section>
        <section class="input-field">
            <label>Избрани категории:</label>
            <section id="in-ctg-selected" class="shared-input-field">
            </section>
        </section>

        <section class="input-field">
            <label>Всички категории:</label>
            <section id="in-ctg-all" class="shared-input-field">
                {{#each categories}}
                    <article class="ctg-add" data-code="{{this.code}}">
                        <i class="fas fa-plus-circle"></i>
                        <span>{{this.title}}</span>
                    </article>
                {{/each}}
            </section>
        </section>
        <section class="input-field">
            <label for="in-desc">Описание:</label>
            <textarea id="in-desc" placeholder="Въведи описание..."></textarea>
        </section>
        <section class="shared-input-field">
            <div class="button-wrapper">
                <button id="submit">Запази</button>
            </div>
            <div class="button-wrapper">
                <button id="cancel">Откажи</button>
            </div>
        </section>
    </section>
</section>
