<section class="filters">
    <h1>Холни гарнитури</h1>
    <label for="filter-category">Филтрирай:</label>
    <select id="filter-category">
        <option selected disabled>Избери филтър...</option>
    </select>

    <label for="sorting">Сортирай по:</label>
    <select id="sorting">
        <option selected>Подразбиране</option>
        <option>Най-нови</option>
        <option>Азбучен ред, А-Я</option>
        <option>Азбучен ред, Я-А</option>
        <option>Цена, от ниска към висока</option>
        <option>Цена, от висока към ниска</option>
        <option>Отстъпка %</option>
    </select>
</section>
<section class="browse">
    <article class="browse-item">
        <img alt="Колекция №1" src="../assets/divan1.jpg">
        <h2>Холна гарнитура №1</h2>
        <section class="price">
            <h3 class="old-price">2400.00 <span class="currency">лв.</span></h3>
            <h3 class="new-price">2200.00 <span class="currency">лв.</span></h3>
        </section>
        <section class="promotion">
            <span>- 8%</span>
        </section>
    </article>
    <article class="browse-item">
        <img alt="Колекция №1" src="../assets/divan1.jpg">
        <h2>Холна гарнитура №1</h2>
        <section class="price">
            <h3 class="old-price">2400.00 <span class="currency">лв.</span></h3>
            <h3 class="new-price">2200.00 <span class="currency">лв.</span></h3>
        </section>
        <section class="promotion">
            <span>- 8%</span>
        </section>
    </article>
    <article class="browse-item">
        <img alt="Колекция №1" src="../assets/divan1.jpg">
        <h2>Холна гарнитура №1</h2>
        <section class="price">
            <h3 class="old-price">2400.00 <span class="currency">лв.</span></h3>
            <h3 class="new-price">2200.00 <span class="currency">лв.</span></h3>
        </section>
        <section class="promotion">
            <span>- 8%</span>
        </section>
    </article>
    <article class="browse-item">
        <img alt="Колекция №1" src="../assets/divan1.jpg">
        <h2>Холна гарнитура №1</h2>
        <section class="price">
            <h3 class="old-price">2400.00 <span class="currency">лв.</span></h3>
            <h3 class="new-price">2200.00 <span class="currency">лв.</span></h3>
        </section>
        <section class="promotion">
            <span>- 8%</span>
        </section>
    </article>
    <article class="browse-item">
        <img alt="Колекция №1" src="../assets/divan1.jpg">
        <h2>Холна гарнитура №1</h2>
        <section class="price">
            <h3 class="old-price">2400.00 <span class="currency">лв.</span></h3>
            <h3 class="new-price">2200.00 <span class="currency">лв.</span></h3>
        </section>
        <section class="promotion">
            <span>- 8%</span>
        </section>
    </article>
    <article class="browse-item">
        <img alt="Колекция №1" src="../assets/divan1.jpg">
        <h2>Холна гарнитура №1</h2>
        <section class="price">
            <h3 class="old-price">2400.00 <span class="currency">лв.</span></h3>
            <h3 class="new-price">2200.00 <span class="currency">лв.</span></h3>
        </section>
        <section class="promotion">
            <span>- 8%</span>
        </section>
    </article>
    <article class="browse-item">
        <img alt="Колекция №1" src="../assets/divan1.jpg">
        <h2>Холна гарнитура №1</h2>
        <section class="price">
            <h3 class="old-price">2400.00 <span class="currency">лв.</span></h3>
            <h3 class="new-price">2200.00 <span class="currency">лв.</span></h3>
        </section>
        <section class="promotion">
            <span>- 8%</span>
        </section>
    </article>
    <article class="browse-item">
        <img alt="Колекция №1" src="../assets/divan1.jpg">
        <h2>Холна гарнитура №1</h2>
        <section class="price">
            <h3 class="old-price">2400.00 <span class="currency">лв.</span></h3>
            <h3 class="new-price">2200.00 <span class="currency">лв.</span></h3>
        </section>
        <section class="promotion">
            <span>- 8%</span>
        </section>
    </article>
    <article class="browse-item">
        <img alt="Колекция №1" src="../assets/divan1.jpg">
        <h2>Холна гарнитура №1</h2>
        <section class="price">
            <h3 class="old-price">2400.00 <span class="currency">лв.</span></h3>
            <h3 class="new-price">2200.00 <span class="currency">лв.</span></h3>
        </section>
        <section class="promotion">
            <span>- 8%</span>
        </section>
    </article>
</section>
