<article class="product-details">
    <section class="images">
        <img id="img-main" src="../assets/02.jpg" alt="Main Preview Imabe">
        <section class="secondary-images">
            <img class="img-scn" src="../assets/02.jpg" alt="Secondary Preview Image">
            <img class="img-scn" src="../assets/02.jpg" alt="Secondary Preview Image">
            <img class="img-scn" src="../assets/02.jpg" alt="Secondary Preview Image">
            <img class="img-scn" src="../assets/02.jpg" alt="Secondary Preview Image">
            <img class="img-scn" src="../assets/02.jpg" alt="Secondary Preview Image">
            <img class="img-scn" src="../assets/02.jpg" alt="Secondary Preview Image">
        </section>
    </section>
    <section class="details">
        <h1>Холна гарнитура №1</h1>
        <h2 class="old-price">2400.00 <span class="currency">лв.</span></h2>
        <h2 class="new-price">2200.00 <span class="currency">лв.</span></h2>
        <button class="btn-fav"><i class="fas fa-heart"></i>Добави в любими</button>
        <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </section>
</article>
<h2 style="padding: 0">Може да ви хареса също:</h2>
<section class="suggestions">
    <article class="browse-item">
        <img alt="Колекция №1" src="../assets/divan1.jpg">
        <h2>Холна гарнитура №1</h2>
        <section class="item-price">
            <h3 class="item-old-price">2400.00 <span class="currency">лв.</span></h3>
            <h3 class="item-new-price">2200.00 <span class="currency">лв.</span></h3>
        </section>
        <section class="promotion">
            <span>- 8%</span>
        </section>
    </article>
    <article class="browse-item">
        <img alt="Колекция №1" src="../assets/divan1.jpg">
        <h2>Холна гарнитура №1</h2>
        <section class="item-price">
            <h3 class="item-old-price">2400.00 <span class="currency">лв.</span></h3>
            <h3 class="item-new-price">2200.00 <span class="currency">лв.</span></h3>
        </section>
        <section class="promotion">
            <span>- 8%</span>
        </section>
    </article>
    <article class="browse-item">
        <img alt="Колекция №1" src="../assets/divan1.jpg">
        <h2>Холна гарнитура №1</h2>
        <section class="item-price">
            <h3 class="item-old-price">2400.00 <span class="currency">лв.</span></h3>
            <h3 class="item-new-price">2200.00 <span class="currency">лв.</span></h3>
        </section>
        <section class="promotion">
            <span>- 8%</span>
        </section>
    </article>
    <article class="browse-item">
        <img alt="Колекция №1" src="../assets/divan1.jpg">
        <h2>Холна гарнитура №1</h2>
        <section class="item-price">
            <h3 class="item-old-price">2400.00 <span class="currency">лв.</span></h3>
            <h3 class="item-new-price">2200.00 <span class="currency">лв.</span></h3>
        </section>
        <section class="promotion">
            <span>- 8%</span>
        </section>
    </article>
    <article class="browse-item">
        <img alt="Колекция №1" src="../assets/divan1.jpg">
        <h2>Холна гарнитура №1</h2>
        <section class="item-price">
            <h3 class="item-old-price">2400.00 <span class="currency">лв.</span></h3>
            <h3 class="item-new-price">2200.00 <span class="currency">лв.</span></h3>
        </section>
        <section class="promotion">
            <span>- 8%</span>
        </section>
    </article>
    <article class="browse-item">
        <img alt="Колекция №1" src="../assets/divan1.jpg">
        <h2>Холна гарнитура №1</h2>
        <section class="item-price">
            <h3 class="item-old-price">2400.00 <span class="currency">лв.</span></h3>
            <h3 class="item-new-price">2200.00 <span class="currency">лв.</span></h3>
        </section>
        <section class="promotion">
            <span>- 8%</span>
        </section>
    </article>
</section>
