<article class="slideshow">
    <section class="slide-content">
        <h1>Безплатна доставка и монтаж</h1>
    </section>
    <section class="slideshow-footer">
        <article class="slideshow-controls">
            <i id="slide-left" class="fas fa-chevron-left i-lr"></i>
            <i id="slide-1" class="fas fa-circle i-dot"></i>
            <i id="slide-2" class="fas fa-circle i-dot"></i>
            <i id="slide-3" class="fas fa-circle i-dot"></i>
            <i id="slide-right" class="fas fa-chevron-right i-lr"></i>
        </article>
    </section>
</article>
<section class="collections">
    <h1>Категории</h1>
    <section class="collections-content">
    </section>
</section>
