.slideshow, .slideshow section {
    border-radius: 2px;
}

.slideshow {
    flex-basis: 450px;

    background: url("../../assets/slide1.jpg") no-repeat center 100%;
    background-size: cover;
    transition: background 0.5s ease;

    display: flex;
    flex-direction: column;

    position: relative;
    margin-bottom: 30px;

}

.slide-content {
    flex: 1 0 auto;
    background: rgba(10, 10, 10, 0.3);
    transition: background 0.5s ease-out;

    display: flex;
    flex-direction: column;

    color: white;
}

.slide-content > * {
    margin: auto;
}

.slide-content > h1 {
    text-align: center;
}

.slideshow-footer {
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    background: white;

    display: flex;
}

.slideshow-controls {
    margin: auto;
    padding: 15px;

    display: flex;
}

.slideshow-controls i {
    color: darkslategray;
    cursor: pointer;
    margin: auto;
}

.slideshow-controls i:hover {
    color: slategray;
    cursor: pointer;
}

.slideshow-controls .i-lr {
    font-size: 15px;
    padding: 0 10px;
}

.slideshow-controls .i-dot {
    font-size: 8px;
    padding: 0 5px;
}

.collections {
    padding: 5px 10px;

    margin-bottom: 30px;

    display: flex;
    flex-direction: column;
}

.collections-content {
    flex: 1 0 auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.collections-item {
    flex-basis: 33%;
    -ms-flex: auto;
    width: 259px;
    position: relative;
    padding: 10px;

    cursor: pointer;

    display: flex;
    flex-direction: column;
}

.collections-item > img {
    width: 100%;
    height: calc(100% - 50px);
    border-radius: 2px;
}

.collections h2 {
    text-align: center;
    min-height: 50px;
}

.collections-item::before {
    display: block;
    content: "";
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
}

.collections-item:hover::before {
    background: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 1000px) {
    .collections-item {
        flex-basis: 50%;
    }
}

@media screen and (max-width: 600px) {
    .collections-item {
        flex-basis: 100%;
    }
}
