* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Montserrat Alternates", "Helvetica", "Open Sans", "Arial", sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #D6D6D6;
}

::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}

::-webkit-scrollbar-thumb{
    background-color: #3D3D3D;
}

.container {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;

    display: flex;
    flex-direction: column;
}

.headband-wrapper {
    height: 50px;

    background-color: #3D3D3D;
    display: flex;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.headband-container {
    flex: 1 0 auto;
    max-width: 1280px;

    display: flex;

    margin-right: auto;
    margin-left: auto;
}

.headband-content {
    flex: 1 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 0 5px;

    color: white;
}

.headband-content > * {
    flex: 1 1 auto;
    font-size: 1.1em;
}

.headband-content > i {
    display: none;
}

.align-right {
    margin-left: auto;
    text-align: right;
}

.header {
    min-height: 150px;

    display: flex;
    flex-direction: column;
    overflow: hidden;

    margin-bottom: 30px;
    padding: 0 5px;

    position: relative;
}

.main-content {
    display: flex;
    flex-direction: column;

    padding: 0 5px;
}

#brand {
    max-width: 220px;
    height: auto;

    margin: 30px auto;
    cursor: pointer;
}

.nav {
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.nav-link {
    color: black;
    text-decoration: none;

    font-weight: 600;
    font-size: 18px;

    padding: 7px 20px;
    word-break: break-word;

    cursor: pointer;
}

.nav-link:visited {
    color: black;
}

.nav-link:hover {
    color: darkslategray;
}

h1, h2, h3 {
    font-weight: 600;
    padding: 7px 20px;

    word-break: break-word;
}

h1 {
    font-size: 30px;
}
h2 {
    font-size: 20px;
}

.footer {
    margin: 0 5px 30px;
    padding: 7px 20px;
    border-top: 1px solid lightgray;

    display: flex;
    flex-direction: column;
}

.footer > div {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 30px;
}

.footer-section {
    max-width: 300px;
    flex: 1 1 auto;
    margin-right: 30px;

    display: flex;
    flex-direction: column;
}

.footer-section h1 {
    padding: 7px 0;
    font-weight: 600;
    font-size: 16px;
}

.footer-nav-link, .footer-text {
    font-weight: 400;
    padding: 3px 0;
    font-size: 14px;
    color: darkslategray;

    word-break: break-word;
}

.footer-nav-link {
    text-decoration: none;
    cursor: pointer;
}

.footer-nav-link:visited {
    color: darkslategray;
}

.footer-nav-link:hover {
    color: slategray;
}

/*cart stuff*/
#cart {
    display: none;
    background: rgba(20,20,20,0.9);

    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 9999;

    overflow-y: auto;
    overflow-x: hidden;
}

.cart-content {
    max-width: 100vw;
    background: white;

    margin: auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    border-radius: 5px;
    padding: 10px 0;

    position: relative;
}

.cart-content > section {
    display: flex;
    flex-direction: column;
}

.cart-content > section > header,
.cart-content > section > footer {
    min-height: 50px;
    display: flex;
}

.cart-content > section > header {
    align-items: flex-start;
}

.cart-content > section > footer {
    align-items: flex-end;
}

.cart-content > section > header {
    margin-bottom: 20px;
}

.cart-items, .cart-order {
    flex: 1 1 auto;
    min-height: 100%;
    padding: 0 10px;
}

.cart-order label {
    color: black;
    font-size: 18px;
}

.cart-order label > span {
    color: #D21117;
}

#order-form {
    flex: 1 1 auto;
    display: flex;
    max-width: calc(100vw - 20px);
}

.cart-order input, textarea {
    flex: 1 1 auto;
    padding: 10px;
    font-size: 16px;

    outline: none;
    border: 1px solid #dddddd;
    border-radius: 5px;

    margin-bottom: 10px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.cart-order textarea {
    resize: none;
    height: 150px;
}

.buttons-container {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row wrap;
}

.buttons-container button {
    flex: 1 0 calc(50% - 10px);
    padding: 10px;
    margin: 5px;
}

.cart-items main, .cart-order main {
    flex: 1 1 500px;
    overflow-y: auto;
}

.cart-items main, .cart-order form {
    display: flex;
    flex-direction: column;

    padding: 5px;
}

.cart-items .browse-item {
    width: 100%;
    height: auto;
    -ms-flex: auto;
    position: relative;

    padding: 10px;
    cursor: pointer;

    display: flex;
    flex-direction: column;
}

.cart-items .browse-item > img {
    width: 100%;
    height: 200px;
    background-color: #dddddd;
    border-radius: 2px;
    object-fit: contain;
    margin-bottom: 10px;
}

.cart-items .browse-item h2 {
    padding: 0;
    text-align: left;
}

.cart-items .browse-item::before {
    display: block;
    content: "";
    position: absolute;
    top: 0; left: 0;
    z-index: 999;
    height: 100%;
    width: 100%;
}

.cart-items .browse-item:hover::before {
    background: rgba(255, 255, 255, 0.1);
}

.cart-items .price {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.cart-items .price .currency {
    font-weight: 400;
}

.cart-items .old-price, .cart-items .new-price {
    padding: 0 5px 0 0;
    font-size: 16px;
    position: relative;
}

.cart-items .old-price::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #D21117;
    bottom: 8px;
    left: 0;
    z-index: 1000;
}

.cart-items .promotion {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0; right: 0;
    display: flex;
    border-radius: 50%;
    background-color: #D21117;
}

.promotion span {
    color: white;
    margin: auto;
    font-size: 16px;
}

#cart-button, #exit-cart-button {
    cursor: pointer;
}

#exit-cart-button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 6px 10px;

    position: absolute;
    top: 10px; right: 10px;
    color: white;
    background: #D21117;
    font-weight: 600;

    border: 2px solid #D21117;
    border-radius: 5px;
}

#exit-cart-button:hover {
    background: #ED1C24;
}
/*end cart stuff*/


@media screen and (max-width: 600px){
    .nav {
        display: none;
    }
    .something {
        display: none;
    }

    .headband-content > i {
        display: flex;
    }
}






