.product-details {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    margin-bottom: 30px;
    position: relative;
}

.product-details, .product-details section, .product-details img {
    border-radius: 5px;
}

.images {
    max-width: 50%;
    -ms-flex: auto;
    position: relative;

    display: flex;
    flex-direction: column;
}

#img-main {
    object-position:  center 100%;
    object-fit: cover;
}

.secondary-images {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 10px 0;
}

.img-scn {
    object-position:  center 100%;
    object-fit: cover;

    width: 120px;
    max-height: 120px;
    margin-right: 10px;
}

.details {
    flex-basis: calc(50% - 30px);
    margin-left: 30px;
}

.details h1, .details h2 {
    padding: 0;
}

.details h1 {
    margin-bottom: 20px;
}

.details h2 {
    font-size: 26px;
}

.old-price {
    text-decoration: line-through #D21117;
}

.new-price {
    color: #ED1C24;
}

.currency {
    font-weight: 400;
}

.btn-fav {
    margin-top: 30px;

    padding: 10px;
    font-size: 20px;

    border-radius: 5px;
    border: 2px solid #D21117;
    background-color: #D21117;
    color: white;
    text-align: center;

    cursor: pointer;
}

button i {
    margin-right: 10px;
}

button:hover {
    background-color: #ED1C24;
}

.description {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-right: 5px;
    justify-self: center;
    word-wrap: anywhere;
    overflow-x: hidden;
    overflow-y: auto;

    flex-grow: 1;
    text-align: justify;

    font-size: 20px;
}

.suggestions {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 10px 0;
    margin-bottom: 30px;

    position: relative;
    display: flex;
}

.browse-item {
    flex-basis: 25%;
    -ms-flex: auto;
    position: relative;
    padding: 10px;

    cursor: pointer;

    display: flex;
    flex-direction: column;
}

.browse-item > img {
    width: 100%;
    height: calc(100% - 50px);
    border-radius: 2px;
}

.browse-item h2 {
    padding: 0;
    text-align: left;
    height: 50px;
}

.browse-item::before {
    display: block;
    content: "";
    position: absolute;
    top: 0; left: 0;
    z-index: 999;
    height: 100%;
    width: 100%;
}

.browse-item:hover::before {
    background: rgba(255, 255, 255, 0.1);
}

.item-price {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.item-price .currency {
    font-weight: 400;
}

.item-old-price, .item-new-price {
    padding: 0 5px 0 0;
    font-size: 16px;
}

.item-old-price {
    text-decoration: line-through #D21117;
    text-decoration-thickness: 2px;
}

.promotion {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0; right: 0;
    display: flex;
    border-radius: 50%;
    background-color: #D21117;
}

.promotion span {
    color: white;
    margin: auto;
    font-size: 16px;
}

@media screen and (max-width: 800px) {
    .images {
        max-width: 100%;
    }

    .details {
        flex-basis: 100%;
        margin-left: 0;
        margin-top: 30px;
    }

    .details h1, .details h2 {
        text-align: center;
    }

    button {
        width: 100%;
    }
}
