.edit-product {
    display: flex;
    flex-flow: row wrap;

    margin-bottom: 30px;
}

.images {
    flex: 1 0 auto;
    max-width: 50%;
    max-height: 600px;

    display: flex;
    flex-direction: column;
}

#image-0 {
    flex-basis: 400px;

    margin-bottom: 20px;
    position: relative;

    border-radius: 5px;
    background-color: #8D8D8D;
    background-position: center 100%;
    background-size: cover;
}

#secondary-images {
    display: flex;

    overflow-y: hidden;
    overflow-x: scroll;
}

.secondary-image {
    max-width: 150px;
    min-width: 150px;
    max-height: 100px;
    min-height: 100px;

    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;

    border-radius: 5px;
    background-color: #8D8D8D;
    background-position: center 100%;
    background-size: cover;
}

.details {
    flex-basis: calc(50% - 20px);
    margin-left: 20px;

    display: flex;
    flex-direction: column;
}

label {
    font-weight: 500;
    font-size: 18px;

    margin-bottom: 5px;
}

input, select, textarea {
    padding: 10px;
    margin-bottom: 10px;

    outline: none;
    border: 1px solid #8D8D8D;
    border-radius: 5px;

    font-size: 16px;
}

.shared-input-field {
    display: flex;
    flex-flow: row  wrap;
}

.input-field, .price-field, .button-wrapper {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.price-field, .button-wrapper {
    flex: 1 0 auto;
}

button {
    padding: 10px;
}

textarea {
    min-height: 200px;
    resize: vertical;
}

.in-file {
    width: 100%;
    height: 100%;
    opacity: 0;
}

.image-action {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;

    display: flex;
    flex-direction: column;

    background-color: rgba(255, 255, 255, 0.5);

    color: #3D3D3D;
}

.opacity-100 {
    opacity: 100%;
}

.opacity-0 {
    opacity: 0;
}

.image-action:hover {
    opacity: 100%;
}

.image-action > i {
    font-size: 30px;

    margin: auto auto 5px auto;
}

.image-action > span {
    text-align: center;
    font-weight: 500;
    font-size: 18px;

    margin: 0 auto auto auto;
}

.ctg-add, .ctg-selected {
    margin: 5px;
    padding: 10px;

    border-radius: 23px;
    color: white;

    position: relative;
    cursor: pointer;
}

.ctg-add {
    background: #D21117;
}

.ctg-add:hover {
    background: #ED1C24;
}

.ctg-selected {
    background: #3D3D3D;
}

.ctg-selected:hover {
    background: #4B4B4B;
}

@media screen and (max-width: 1000px) {
    #image-0 {
        flex-basis: 300px;
    }
}

@media screen and (max-width: 800px) {
    .images {
        flex-basis: 100%;
        max-width: 100%;

        margin-bottom: 20px;
    }

    .details {
        flex-basis: 100%;
        margin-left: 0;
    }
}
