* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto", "Helvetica", "Open Sans", "Arial", sans-serif;

}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #D6D6D6;
}

::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}

::-webkit-scrollbar-thumb{
    background-color: #3D3D3D;
}

.container {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;

    display: flex;
    flex-direction: column;
}

.headband-wrapper {
    height: 50px;

    background-color: #3D3D3D;
    display: flex;
}

.headband-container {
    flex: 1 0 auto;
    max-width: 1280px;

    display: flex;

    margin-right: auto;
    margin-left: auto;
}

.headband-content {
    flex: 1 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 0 10%;

    color: white;
}

.headband-content > * {
    flex: 1 1 auto;
    font-size: 1.1em;
}

.headband-content > i {
    display: none;
}

.align-right {
    margin-left: auto;
    text-align: right;
}

.header {
    min-height: 150px;

    display: flex;
    flex-direction: column;
    overflow: hidden;

    padding: 0 10%;
    margin-bottom: 30px;

    position: relative;
}

.main-content {
    display: flex;
    flex-direction: column;

    padding: 0 10%;
}

#brand {
    max-width: 220px;
    height: auto;

    margin: 30px auto;
    cursor: pointer;
}

.nav {
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.nav-link {
    color: black;
    text-decoration: none;

    font-weight: 500;
    font-size: 18px;

    padding: 7px 20px;
    word-break: break-word;

    cursor: pointer;
}

.nav-link:visited {
    color: black;
}

.nav-link:hover {
    color: darkslategray;
}

h1, h2, h3 {
    font-weight: 500;
    padding: 7px 20px;

    word-break: break-word;
}

h1 {
    font-size: 30px;
}
h2 {
    font-size: 20px;
}

.footer {
    margin: 0 10% 30px;
    padding: 7px 20px;
    border-top: 1px solid lightgray;

    display: flex;
    flex-direction: column;
}

.footer > div {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 30px;
}

.footer-section {
    max-width: 300px;
    flex: 1 1 auto;
    margin-right: 30px;

    display: flex;
    flex-direction: column;
}

.footer-section h1 {
    padding: 7px 0;
    font-weight: 500;
    font-size: 16px;
}

.footer-nav-link, .footer-text {
    font-weight: 400;
    padding: 3px 0;
    font-size: 14px;
    color: darkslategray;

    word-break: break-word;
}

.footer-nav-link {
    text-decoration: none;
    cursor: pointer;
}

.footer-nav-link:visited {
    color: darkslategray;
}

.footer-nav-link:hover {
    color: slategray;
}

@media screen and (max-width: 600px){
    .something {
        display: none;
    }

    .headband-content > i {
        display: flex;
    }
}






